body{
	font-family: sans-serif;
}
fieldset {
	width: 380px;
}
input {
	text-align: center;
}
legend {
	font-weight: bold;
}
span {
	font-size: 12px;
	padding: 10px;
}
#box_container {
	display:inline-block;
	max-width: 450px;
	height: 100%;
	margin-top: 0px !important;
}
#box_hex_input {
	width: 68px;
}
#title_text_input, #subtitle_input {
	width: 165px;
}
#random_button {
	margin-left: 10px;
}
#sample_table {
	width: 100%;
	margin-top: 75px;
}
.box {
	height: 100px;
	width: 100px;
	float: left;
	margin: 40px 40px 0 0;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	font-weight: bold;
	text-align: center;
	border: 5px solid black;
	font-size: 36px;
}
.red {
	background-color: red;
}
.yellow {
	background-color: yellow;
}
.blue {
	background-color: blue;
}
.section {
	margin: 40px;
}
.spacer {
	border-bottom: 1px dotted black;
}